<head>
  <link href="/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="page_title">
    <h1>Muay Thai Battle!</h1>
  </div>
  <% unless @game.nil?%>
    <h1 class="versus_banner"><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>
  <%end%>

  <%= yield %>
</body>
