/* GLOBAL */

@font-face {
  font-family: EA_Sports_Outline; src: url('EA Sports Covers SC 1.5 Outline.ttf');
  font-family: EA_Sports; src: url('EA Sports Covers SC 1.5.ttf');
}

body {
  font-family: EA_Sports;
}

#page_title {
  font-size: 60px;
  text-align: center;
}

.button {
  background-color: #f5f5f5;
  color:black;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  margin: 10px 4px;
  padding: 9px 14px;
  font-size: 13px;
  font-weight: bold;
  font-family: EA_Sports;
}

.button:hover{
  color:#333333;
  border: 1px solid #cccccc;
}

.button:focus {
  outline:none;
  border: 1px solid #0066ff;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* INDEX FORM */

.index_form {
  text-align: center;
  padding-top: 80px;
}

input {
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 15px;
  text-align: center;
  font-family: EA_Sports;
}

label {
  display: block;
  padding: 20px
}

h1 {
  margin: 30px 0;
  font-family: EA_Sports;
}

/* PLAY */

.versus_banner, .turn {
  display: block;
  text-align: center;
}

.player_1 {
  float:left;
  text-align: center;
}

.player_2 {
  float: right;
  text-align: center;
}

.container {
  margin: 20px auto;
  width: 50%;
}

img {
  width: 200px;
}

form {
  text-align: center;
}







/*
